.elementor-266 .elementor-element.elementor-element-826b4f3 {
    padding: 200px 0 0
}

.elementor-266 .elementor-element.elementor-element-72098a0>.elementor-container {
    max-width: 1300px
}

.elementor-266 .elementor-element.elementor-element-8e82d9b {
    text-align: left
}

.elementor-266 .elementor-element.elementor-element-8e82d9b .m-titles .m-title {
    font-size: 54px
}

.elementor-266 .elementor-element.elementor-element-4294f29 {
    padding: 20px 0
}

.elementor-266 .elementor-element.elementor-element-5edf6b9>.elementor-container {
    max-width: 1320px
}

.elementor-266 .elementor-element.elementor-element-5edf6b9 .elementor-column-gap-custom .elementor-column>.elementor-element-populated {
    padding: 20px
}

.elementor-266 .elementor-element.elementor-element-ec6de4e {
    padding: 100px 0 0
}

.elementor-266 .elementor-element.elementor-element-edbb10e>.elementor-container {
    max-width: 1320px
}

.elementor-266 .elementor-element.elementor-element-edbb10e .elementor-column-gap-custom .elementor-column>.elementor-element-populated {
    padding: 20px
}

.elementor-266 .elementor-element.elementor-element-f3ae25b>.elementor-container {
    max-width: 1320px
}

.elementor-266 .elementor-element.elementor-element-f3ae25b .elementor-column-gap-custom .elementor-column>.elementor-element-populated {
    padding: 20px
}

.elementor-266 .elementor-element.elementor-element-62623a5>.elementor-container {
    max-width: 1300px
}

.elementor-266 .elementor-element.elementor-element-9e932cf {
    padding: 100px 0 20px
}

.elementor-266 .elementor-element.elementor-element-b08909b>.elementor-container {
    max-width: 1320px
}

.elementor-266 .elementor-element.elementor-element-b08909b .elementor-column-gap-custom .elementor-column>.elementor-element-populated {
    padding: 20px
}

.elementor-266 .elementor-element.elementor-element-bcc51bb>.elementor-container {
    max-width: 1320px
}

.elementor-266 .elementor-element.elementor-element-bcc51bb .elementor-column-gap-custom .elementor-column>.elementor-element-populated {
    padding: 20px
}

.elementor-266 .elementor-element.elementor-element-1430cfe>.elementor-container {
    max-width: 1300px
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-266 .elementor-element.elementor-element-f7572ef {
        width: 65%
    }

    .elementor-266 .elementor-element.elementor-element-a8b6f55 {
        width: 35%
    }
}

@media(max-width:1024px) {
    .elementor-266 .elementor-element.elementor-element-826b4f3 {
        padding: 150px 0 0
    }

    .elementor-266 .elementor-element.elementor-element-72098a0 {
        padding: 0 10px
    }

    .elementor-266 .elementor-element.elementor-element-8e82d9b .m-titles .m-title {
        font-size: 44px
    }

    .elementor-266 .elementor-element.elementor-element-4294f29 {
        padding: 10px 0
    }

    .elementor-266 .elementor-element.elementor-element-ec6de4e {
        padding: 50px 0 0
    }

    .elementor-266 .elementor-element.elementor-element-c40904c {
        padding: 0
    }

    .elementor-266 .elementor-element.elementor-element-62623a5 {
        padding: 0 20px
    }

    .elementor-266 .elementor-element.elementor-element-9e932cf {
        padding: 50px 0 0
    }

    .elementor-266 .elementor-element.elementor-element-1430cfe .elementor-column-gap-custom .elementor-column>.elementor-element-populated {
        padding: 40px
    }
}

@media(max-width:767px) {
    .elementor-266 .elementor-element.elementor-element-826b4f3 {
        padding: 140px 0 0
    }

    .elementor-266 .elementor-element.elementor-element-72098a0 {
        padding: 0 10px
    }

    .elementor-266 .elementor-element.elementor-element-8e82d9b .m-titles .m-title {
        font-size: 34px
    }

    .elementor-266 .elementor-element.elementor-element-4294f29 {
        padding: 0 0 30px
    }

    .elementor-266 .elementor-element.elementor-element-ec6de4e {
        padding: 50px 0 0
    }

    .elementor-266 .elementor-element.elementor-element-9e932cf {
        padding: 50px 0
    }

    .elementor-266 .elementor-element.elementor-element-1430cfe .elementor-column-gap-custom .elementor-column>.elementor-element-populated {
        padding: 15px
    }
}